<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://source.unsplash.com/HTnycx0h_kk/1600x900);;
box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3); width: 100%;">
    <div class="container">
      <h1 >Administrar Rutas</h1>
      <p style><%= current_user.email %></p>
    </div>
</div>

<div class="d-flex mt-2">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
    <ul class="nav flex-column">
      <li>
        <%= link_to "Crear ruta", new_route_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver guías", users_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver lugares", places_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver pagos", pago_valid_path, class:"nav-link title" %>
      </li>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container mt-5 admin-pago" >
    <div class="">
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">Ruta</th>
            <th scope="col">Fechas disponibles</th>
            <th scope="col">Duración</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @routes.each do |route| %>
            <tr>
              <td><%= link_to route.name, route_path(route), class:"td-link" %></td>
              <% @fechas_all = [] %>
              <% fechas= route.available_dates %>
                  <% array_fechas = fechas.split(',')  %>
                  <% array_fechas.each do |fecha|         @fechas_all << Date.strptime(fecha, "%Y%m%d")
                  end %>
              <td><% @fechas_all.each do |date|%>
                      /<%= date %>/
                    <% end %></td>
              <td><%= route.duration %> hrs </td>
              <td><%= link_to edit_route_path(route) do %>
                <i class="far fa-edit" style="color:#206A5D"></i><% end %>
              </td>
              <td><%= link_to route_path(route), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" style="color:#206A5D"></i><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
