<h1>Admin Index</h1>
<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576470290805-d094d04aba29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
    <div class="container">
      <p>My route calendar</p>
    </div>
</div>

<%= link_to "new", new_guide_user_path(1) %>

<div class="d-flex">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
    <ul class="nav flex-column">
      <li>
        <%= link_to "Rutas", routes_path, class:"nav-link title"%>
      </li>
      <li>
        <%= link_to "Guías", routes_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Pagos", routes_path, class:"nav-link title" %>
      </li>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container">
    <div class="min-vh-80">
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">ROUTE NAME</th>
            <th scope="col">AVAILABLE DATES</th>
            <th scope="col">DURATION</th>
          </tr>
        </thead>
        <tbody>
          <% @routes.each do |route| %>
            <tr>
              <td><%= link_to route.name, route_path(route), class:"td-link" %></td>
              <% @fechas_all = [] %>
              <% fechas= route.available_dates %>
                  <% array_fechas = fechas.split(',')  %>
                  <% array_fechas.each do |fecha|         @fechas_all << Date.strptime(fecha, "%Y%m%d")
                  end %>
              <td><% @fechas_all.each do |date|%>
                      /<%= date %>/
                    <% end %></td>
              <%# array_item[0..3] => 2021 %>
              <td><%= route.duration %> hrs </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>






<p class = "btn btn-primary"><%= link_to "Crear", new_route_path %></p>

<div class="cards">
    <% @routes.each do |route| %>
      <div class="card">
        <div class="card-body">
          <% if route.photo.attached? %>
             <%= cl_image_tag route.photo.key, class:'movie-img', height: 300, width: 400, crop: :fill %>
          <% else %>
           <%= image_tag "https://images.unsplash.com/photo-1522289849170-49c9c3c6a460?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80" ,class:'movie-img', height: 300, width: 400, crop: :fill %>
          <% end %>
          <div><%= route.name %>
            <p>Descripción: <%= route.description %></p>
          </div>
          <div class="btn btn-primary"><%= link_to 'View details', route_path(route) %></div>
          <p class = "btn btn-primary"><%= link_to "Editar", edit_route_path(route) %></p>
          <small class = "btn btn-dark"><%= link_to "Delete", route_path(route), method: :delete, data: { confirm: "Are you sure?" } %> </small>
        </div>
      </div>
    <% end %>
  </div>
