<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576470290805-d094d04aba29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
    <div class="container">
      <p>Administrar rutas</p>
    </div>
</div>

<div class="d-flex">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
    <ul class="nav flex-column">
      <li>
        <%= link_to "Crear Ruta", new_route_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Guías", users_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Lugares", places_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Pagos", pago_valid_path, class:"nav-link title" %>
      </li>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container">
    <div class="">
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">Ruta</th>
            <th scope="col">Fechas disponibles</th>
            <th scope="col">Duracion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @routes.each do |route| %>
            <tr>
              <td><%= link_to route.name, route_path(route), class:"td-link" %></td>
              <% @fechas_all = [] %>
              <% fechas= route.available_dates %>
                  <% array_fechas = fechas.split(',')  %>
                  <% array_fechas.each do |fecha|         @fechas_all << Date.strptime(fecha, "%Y%m%d")
                  end %>
              <td><% @fechas_all.each do |date|%>
                      /<%= date %>/
                    <% end %></td>
              <td><%= route.duration %> hrs </td>
              <td><%= link_to edit_route_path(route) do %>
                <i class="far fa-edit" style="color:#206A5D"></i><% end %>
              </td>
              <td><%= link_to route_path(route), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" style="color:#206A5D"></i><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
