<h1>Admin Show</h1>

<ul class="list-show">
    <li><strong>Name: </strong><%= @route.name %></li>
    <li><strong>Description: </strong><%= @route.description %></li>
    <li><strong>Lugares: </strong><%= @route.places_interest %></li>
    <li><strong>Duración: </strong><%= @route.duration %> hrs</li>


    <li><strong>Places: </strong><%@lugares.each do |lugar| %>
      <ul>
        <li><%= lugar.name %></li>
        <li><%= lugar.address %></li>
        <li><%= lugar.description %></li>
      </ul>
    <% end %>
    </li>
    <li><strong>Fechas: </strong><% @fechas_all.each do |date|%>
      <%= date %>
    <% end %>
    </li>
</ul>
