<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(<%= cl_image_path @route.photo.key %>);;
box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3); width: 100%;">
    <div class="container">
      <h1 ><%= @route.name %></h1>
      <p style><%= current_user.email %></p>
    </div>
</div>
<div class="d-flex mt-4">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
      <ul class="nav flex-column">
        <li>
          <%= link_to "Ver Rutas", routes_path, class: 'nav-link title' %>
        </li>
        <li>
          <%= link_to "Ver Guías", users_path, class:"nav-link title" %>
        </li>
        <li>
          <%= link_to "Ver Lugares", places_path, class:"nav-link title" %>
        </li>
        <li>
          <%= link_to "Ver Pagos", routes_path, class:"nav-link title" %>
        </li>
      </ul>
  </div>

  <div class="container">

    <ul class="p-0">
      <div>
        <div class="header-section">
          <p><%= @route.description %></p>
        </div>
        <div class="cards-show-places">
          <%@lugares.each do |lugar| %>
              <ul class="card-show-shadow">
                <p><strong><%= lugar.name %></strong></p>
                <% if lugar.photo.attached? %>
                  <%= cl_image_tag lugar.photo.key , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                <% end %>
                <p><strong>Dirección: </strong><%= lugar.address %></p>
                <p id="p-description"><%= lugar.description %></p>
              </ul>
          <% end %>
        </div>
        <table class="table">
          <thead class="thead-green">
              <tr class="tr-places">
                <th scope="col">DURACIÓN</th>
                <th scope="col">FECHAS DISPONIBLES</th>
                <th scope="col">TENDENCIAS</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= @route.duration %> hrs</td>
                <td>
                  <% @fechas_all.each do |date|%>
                    /<%= date %>/
                  <% end %>
                </td>
                <td><%= @route.places_interest %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </ul>
    <p>

    </p>

  </div>
</div>
