
<div class="container col-md-5" style="margin-top: 10px">
  <div class="bg-white rounded p-3">
    <h5 class="new-post">New post</h5>
      <%= simple_form_for(@booking) do |f| %>
        <% if @booking.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <% message %>
              <% end %>
            </ul>
          </div>
        <% end %>
       <%#  <%= f.input :photo, as: :file %>
        <%= f.input :pago_user %>
        <%= f.submit value: "Update", class: "btn btn-primary" %>
        <%= link_to "Back", route_bookings_path(@booking.route), class: "btn btn-dark" %>
      <% end %>
  </div>
</div>
