<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://source.unsplash.com/HTnycx0h_kk/1600x900);;
box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3); width: 100%;">
    <div class="container">
      <h1 >Administrar Guías</h1>
      <p style><%= current_user.email %></p>
    </div>
</div>
<div class="d-flex  mt-2">
    <%# Sidebar %>
    <div class="sidebar-sticky border-right mt-2">
      <ul class="nav flex-column">
        <li>
          <%= link_to "Crear guía", new_guide_user_path(1), class: 'nav-link title' %>
        </li>
        <li>
          <%= link_to "Ver rutas", routes_path, class:"nav-link title" %>
        </li>
        <li>
          <%= link_to "Ver lugares", places_path, class:"nav-link title" %>
        </li>
        <li>
          <%= link_to "Ver pagos", pago_valid_path, class:"nav-link title" %>
        </li>
      </ul>
    </div>

    <%# Tabla %>
    <div class="container mt-5 admin-pago">
      <div class="">
        <table class="table">
          <thead class="thead-green">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Correo</th>
            </tr>
          </thead>
          <tbody>
            <% @guides = User.where(rol:'guide') %>
            <% @guides.each do |guide| %>
              <tr>
                <td><%= guide.first_name %></td>
                <td><%= guide.last_name %></td>
                <td><%= guide.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>
