<%= render 'shared/banner' %>
<a id="prueba"></a>
<div class="min-vh-80 m-t-5">
<section class="wrapper">
  <div class="container">

          <div class="search-form-control form-group">
          <%= form_tag routes_path, method: :get do  %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Busca un destino" %>

            <%= button_tag(type: "submit", class: "btn") do %>
                <i class="fas fa-search"></i>
            <% end %>

          <% end %>
        </div>
<destacado>
 <h3 class = "d-flex justify-content-center">Rutas Destacadas</h3>

</destacado>


    <div class="cards">
          <% @routes.each do |route| %>
            <div class="card card-has-bg click-col d-flex flex-column" style="background-image:url(<%= cl_image_path route.photo.key %>);">
              <div class="flex-grow-1"></div>
              <div class="card-img-overlay">
                <h3 id="name"><%= route.name %></h3>
                <%= link_to route_path(route) do %>
                  <i class="fas fa-chevron-right"></i>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</section>
