<%= render 'shared/banner' %>
<div class="min-vh-80 m-t-5">
<section class="wrapper">
  <div class="container">
    <div class="cards">
          <% @routes.each do |route| %>
            <div class="card card-has-bg click-col d-flex flex-column" style="background-image:url('https://images.unsplash.com/photo-1522289849170-49c9c3c6a460?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80');">
              <div class="flex-grow-1"></div>
              <div class="card-img-overlay">
                <h3 id="name"><%= route.name %></h3>
                <%= link_to route_path(route) do %>
                  <i class="fas fa-chevron-right"></i>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</section>
<section class="wrapper">
  <div class="container">
    <div class="cards">
          <% @routes.each do |route| %>
            <div class="card card-has-bg click-col d-flex flex-column" style="background-image:url('https://images.unsplash.com/photo-1522289849170-49c9c3c6a460?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80');">
              <div class="flex-grow-1"></div>
              <div class="card-img-overlay">
                <h3 id="name"><%= route.name %></h3>
                <%= link_to route_path(route) do %>
                  <i class="fas fa-chevron-right"></i>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</section>
