<h1>Routes Index</h1>

<div class="cards">
    <% @routes.each do |route| %>
      <div class="card">
        <div class="card-body">

          <% if route.photo.attached? %>
             <%= cl_image_tag route.photo.key, class:'movie-img', height: 300, width: 400, crop: :fill %>
          <% else %>
           <%= image_tag "https://images.unsplash.com/photo-1522289849170-49c9c3c6a460?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=871&q=80" ,class:'movie-img', height: 300, width: 400, crop: :fill %>
          <% end %>

          <div><%= route.name %>
            <p>Descripción: <%= route.description %></p>
          </div>
          <div class="btn btn-primary"><%= link_to 'View details', route_path(route) %></div>
        </div>
      </div>
    <% end %>
  </div>

<%= console %>
<section class="wrapper">
  <div class="container">
    <div class="cards">
          <% @routes.each do |route| %>
            <div class="card card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
              <div class="card-img-overlay">
                <h3 id="name"><%= route.name %></h3>
                <%= link_to route_path(route) do %>
                  <i class="fas fa-chevron-right"></i>
                <% end %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</section>
