
<%# Tendencias %>
<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(<%= cl_image_path @route.photo.key %>); background-size: cover;">

        <div class="carousel-caption d-none d-md-block">
          <div class="container text-carousel"  style="color:white">
            <h1><strong><%= @route.name %></strong></h1>
            <p>Secretos de Ciudad</p>
            <h5 class = "container descrip text-justify"><%= @route.description %></h5>
          </div>
        </div>
      </div>

      <%@lugares.each do |lugar| %>
        <div class="carousel-item" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(<%= cl_image_path lugar.photo.key %>); background-size: cover;">

          <div class="carousel-caption d-none d-md-block">
            <div class="container text-carousel" style="color:white">
              <h1><strong><%= @route.name %></strong></h1>
              <p>Secretos de Ciudad</p>
              <h5 class = "container descrip text-justify"><%= @route.description %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container show-container-mar ">

  <div class="container column-show" >
    <%# Cards %>
    <div class="">
    <%@lugares.each do |lugar| %>
      <div class="tarjeta-wrap">
        <div class="tarjeta">
          <div class="adelante" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(<%= cl_image_path lugar.photo.key %>);">
            <h3 class="name-flip-card"><%= lugar.name %></h3>
          </div>
          <div class="atras" style="background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
          url(<%= cl_image_path lugar.photo.key %>);">
            <p><%= lugar.description %></p>
          </div>
        </div>
      </div>
    <% end %>
	</div>


    <%# mapa %>
    <div id="map" class="card mt-2 mb-5"
        style="height: 60%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="container">
        <%# Reviews %>
    <div id="reviews">
      <%# Add Review %>
      <div class="d-flex justify-content-between">
        <div id="add-review" >
          <h3 class = "d-flex justify-content-center mb-3 review-show-marr">¿Qué te pareció la ruta?</h3>
          <%= simple_form_for([@route, @review] ) do |f| %>
            <%= f.input :comment, placeholder: "agrega tu comentario aca..." , label: false , :input_html => { :class => "review-show-mar" } %>
            <%= f.input :rating, as: :select, collection: (1..5), label: false, required: true, prompt: "What's your rating", input_html: { id: "review_rating", class: "estrella" } %>
            <%# DEBERIA IR COMPROBACION DEL USUARIO  %>
            <div class = "btn-show-mar">
            <%= f.submit class: "btn btn-dark", value: "Comentar" %>

            <small><em class="text-muted">inicia sesión para comentar!</em></small>
          </div >
          <% end %>
        </div>

        <%# Card del guía %>
        <div class="scd-col-card-guide">
          <div class="card-guide">

            <% guide = @route.user_id %>
            <% @foto_guide = User.find(guide) %>
            <%= cl_image_tag @foto_guide.avatar.key , class: "card-photo", alt: "avatar-large" %>
            <div class="card-guide-info">
              <h3><%= @route.name %></h3>
              <h4><strong>Costo de la ruta:</strong> $<%= @route.price %></h4>
              <p><strong>Duración: </strong><%= @route.duration %> hrs</p>
              <p><strong>Guia: </strong>nombre apellido</p>
              <div class="d-flex justify-content-center align-items-center">
                <p id="btn-book"><%= link_to "Reservar", new_route_booking_path(@route), class: "btn btn-dark", id: "letter-ligth" %></p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <%# View Reviews %>
      <div class = "show-review-mar">
        <h3 class="h3-review d-flex justify-content-center;">Opiniones</h3>
        <% if @route.reviews.empty? %>
          <small><em class="text-muted">Be the first to comment!</em></small>
        <% end %>

        <% @route.reviews.each do |review| %>
          <div class="card-review">
            <% @foto = User.find(review.user_id) %>
            <% if @foto.avatar.attached? %>
              <%= cl_image_tag @foto.avatar.key , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1529946825183-536c6317f60e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YW5vbnltb3VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" ,class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <% end %>
            <% review.rating.times do %>
              <%= %>
              <i class="fas fa-star fa-star-yellow"></i>
            <% end %>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class = "comment mt-2 ml-5" id="review-<%= review.id %>"> <%= review.comment %> </p>


          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
