<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1576470290805-d094d04aba29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
    <div class="container">
      <p>My route calendar</p>
    </div>
</div>

<div class="d-flex">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right">
    <ul class="nav flex-column">
      <li>
        <%= link_to "View all", routes_path, class:"nav-link title"%>
      </li>
      <li>
        <%= link_to "Ruta 1", routes_path, class:"nav-link" %>
      </li>
      <li>
        <%= link_to "Ruta 2", routes_path, class:"nav-link" %>
      </li>
      <li>
        <%= link_to "Ruta 3", routes_path, class:"nav-link" %>
      </li>
      <li>
        <%= link_to "Ruta 4", routes_path, class:"nav-link" %>
      </li>
      <li>
        <%= link_to "Ruta 5", routes_path, class:"nav-link" %>
      </li>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container">
    <div class="min-vh-80">
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">ROUTE NAME</th>
            <th scope="col">AVAILABLE DATES</th>
            <th scope="col">DURATION</th>
          </tr>
        </thead>
        <tbody>
          <% @guide_routes.each do |route| %>
            <tr>
              <td><%= link_to route.name, route_path(route), class:"td-link" %></td>
              <% @fechas_all = [] %>
              <% fechas= route.available_dates %>
                  <% array_fechas = fechas.split(',')  %>
                  <% array_fechas.each do |fecha|         @fechas_all << Date.strptime(fecha, "%Y%m%d")
                  end %>
              <td><% @fechas_all.each do |date|%>
                      /<%= date %>/
                    <% end %></td>
              <%# array_item[0..3] => 2021 %>
              <td><%= route.duration %> hrs </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
