<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://source.unsplash.com/HTnycx0h_kk/1600x900);;
box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.3); width: 100%;">
    <div class="container">
      <h1 >Administrar Lugares</h1>
      <p style><%= current_user.email %></p>
    </div>
</div>
<div class="d-flex">
  <%# Sidebar %>
  <div class="sidebar-sticky border-right mt-2 ">
    <ul class="nav flex-column">
      <li>
        <%= link_to "Crear Lugar", new_place_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Rutas", routes_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Guías", users_path, class:"nav-link title" %>
      </li>
      <li>
        <%= link_to "Ver Pagos", pago_valid_path, class:"nav-link title" %>
      </li>
    </ul>
  </div>

  <%# Tabla %>
  <div class="container mt-5 admin-pago">
    <div class="">
      <table class="table">
        <thead class="thead-green">
          <tr>
            <th scope="col">LUGAR</th>
            <th scope="col">DIRECCIÓN</th>
            <th scope="col">RUTA</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @places.each do |place| %>
            <tr>
              <td><%= link_to place.name, place_path(place), class:"td-link" %></td>
              <td><%= place.address %></td>
              <td><%= place.route_id %></td>
              <td><%= link_to edit_place_path(place) do %>
                <i class="far fa-edit" style="color:#206A5D"></i><% end %>
              </td>
              <td><%= link_to place_path(place), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" style="color:#206A5D"></i><% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
